<h1>Solicitar Restablecimiento de Contraseña</h1>
<form id="resetPasswordForm">
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required autocomplete="email">
    <button type="button" id="resetPasswordBtn">Enviar Correo de Restablecimiento</button>
</form>
<div id="message"></div>
<script>
    document.getElementById("resetPasswordBtn").addEventListener("click", function () {
        const email = document.getElementById("email").value;

        fetch("api/sessions/forgot-password", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ email })
        })
            .then(response => {
                if (response.ok) {
                    document.getElementById("message").textContent = "Correo de restablecimiento enviado exitosamente";
                    document.getElementById("email").value = ""; // Borra el contenido del input email
                    return response.json();
                }
                throw new Error("Error al enviar la solicitud");
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
                document.getElementById("message").textContent = "Error al enviar la solicitud";
            });
    });
</script>