<h1>Restablecer Contrase単a</h1>
<form id="resetPasswordForm" action="api/sessions/reset-password/{{ token }}" method="POST">
    <label for="password">Nueva Contrase単a:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Restablecer Contrase単a</button>
</form>

<div id="message"></div>

<script>
    document.getElementById("resetPasswordForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const password = document.getElementById("password").value;

        fetch(this.action, {
            method: this.method,
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ password })
        })
            .then(response => {
                console.log(response)
                return response.json();
            })
            .then(data => {
                document.getElementById("message").textContent = data.message;
            })
            .catch(error => {
                document.getElementById("message").textContent = "Error al restablecer la contrase単a";
                console.error(error);
            });
    });
</script>