<h1>Restablecer Contraseña</h1>
<form id="resetPasswordForm" action="/reset-password/{{ token }}" method="POST">
    <label for="password">Nueva Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Restablecer Contraseña</button>
</form>

<div id="message"></div>

<script>
    document.getElementById("resetPasswordForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const password = document.getElementById("password").value;

        const formData = new FormData();
        formData.append("password", password);

        fetch(this.action, {
            method: this.method,
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error("Error al restablecer la contraseña");
            })
            .then(data => {
                document.getElementById("message").textContent = data.message;
            })
            .catch(error => {
                document.getElementById("message").textContent = "Error al restablecer la contraseña";
                console.error(error);
            });
    });
</script>